# {{ ansible_managed }}
[Unit]
Description=Cloudera Flow Management
After=network.target

[Service]
Type=forking
User={{ nifi_run_as }}
Group={{ nifi_run_as_group }}
ExecStart=/usr/cdf/cfm/nifi/nifi-1.9.0.1.0.0.0-90/bin/nifi.sh start
ExecStop=/usr/cdf/cfm/nifi/nifi-1.9.0.1.0.0.0-90/bin/nifi.sh stop
Restart=on-failure
RestartSec=60s